.contact {
  text-align: center;
}

.beginning-area {
  text-align: center;
}

.my-button {
  display: block;
  margin: auto;
}

.about-me {
  color: white;
  border: 4px solid white;
  margin: 1rem;
}

.skills {
  color: white;
  border: 4px solid white;
  margin: 1rem;
}

.projects {
  color: white;
  border: 4px solid white;
  margin: 1rem;
}

.education {
  border: 4px solid #01579b;
  margin: 1rem;
}

.work-experience {
  border: 4px solid #01579b;
  margin: 1rem;
}
