
.central-area {
  position: relative;
}

.central-area-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.contact {
  text-align: center;
  border: 4px solid #01579b;
  margin: 1rem;
  border-radius: 15px;

}

.beginning-area {
  text-align: center;
  background: url('https://unsplash.it/2000/3000');
  color: white;
  height: 92vh;
}

.my-butt {
  display: block;
  margin: auto;
  height: 50px;
  width: 150px;
  background-color: transparent !important;
  border: solid 2px white;
  border-radius: 15px;
}

.my-butt:hover {
  background-color: white !important;
  color: black;
}

.my-butt-2 {
  display: block;
  margin: auto;
  height: 50px;
  width: 150px;
  background-color: transparent !important;
  border: solid 2px black;
  border-radius: 15px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-butt-2:hover {
  background-color: #01579b !important;
  color: white;
}

.about-me {
  color: white;
  border: 4px solid white;
  margin: 1rem;
  border-radius: 15px;
}

.skills {
  color: white;
  border: 4px solid white;
  margin: 1rem;
  border-radius: 15px;
}

.projects {
  color: white;
  border: 4px solid white;
  margin: 1rem;
  border-radius: 15px;
}

.education {
  border: 4px solid #01579b;
  margin: 1rem;
  border-radius: 15px;
}

.work-experience {
  border: 4px solid #01579b;
  margin: 1rem;
  border-radius: 15px;
}

.strong-p {
  font-weight: bold;
}

@media screen and (max-width: 601px) {
  * {
    display: block;
    margin: auto;
  }

  h4, h5, h6 {
    text-align: center;
  }

  p {
    margin-bottom: 1rem;
  }

  .pd {
    text-align: center;
  }
  .strong-p {
    text-align: center;
  }

  .central-area-inner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 1%);
  }

  .my-image {
    width: 100px;
    height: 105px;
  }
}
